.body {
    background-color: lightgray;
}

body{
    background-color: lightgray:
}

h1 {
    color: blue;
    font-size: 15vh;
    text-align: center;
}

.h1{
    color: blue;
    text-align: center;
  }

.body {
    background-color: lightgray;
}
